@model TodoMVC.ViewModels.TodoIndexModel

@{
    ViewBag.Title = "Todos";
}

<div class="todos-holder">
    @using (Html.BeginForm("Create", "Todo", FormMethod.Post)) {
        <input type="text" name="Text" value="@Model.Todo.Text"/>
        <br />
        <input type="submit" class="btn btn-primary" value="Add Todo" />
    }
    <ul class="todos col-centered">
        @foreach (var item in Model.Todos) {
            string doneClass = item.IsDone ? "todo-done" : "";
            <li class="todo  @doneClass">
                <input type="checkbox" checked="@item.IsDone" class="todo-checkbox" />
                <span>
                    @item.Text
                </span>
            </li>
        }
    </ul>
</div>
